
/* Estilo para o artigo */
article {
    width: 90%;
    padding: 20px;
}

/* Estilo para o cabeçalho */
article header {

    margin-bottom: 20px;
}

article main h2 {
    font-size: 1.6em;
    margin-top: 20px;
    color: #444;
}

article main p {
    margin: 10px 0;
}