* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto 800px auto;
    grid-template-areas:
    "NavBar Header"
    "Aside Article"
    "Footer Footer";
    gap: 10px;
    margin: 10px;
}

#NavBar {
    grid-area: NavBar;
    background-color: #F7F7F7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 20px;
}

.info {
    text-decoration: none;
    padding-top: 10px;
    margin: 10px;
    color: #000;
}

.Header {
    grid-area: Header;
    background-color: #F7F7F7;
    border-radius: 10px;
}

.main {
    padding: 10px;
}

.main h1 {
    font-size: 2.5rem;
    margin: 0;
    background: linear-gradient(90deg, #adefff 1%, #61DAFB 10%, #1F6285 89%);
    background-clip: text;
    color: transparent;
}

.main p {
    font-size: 1.2em;
    color: #232525;
}

#Article {
    grid-area: Article;
    background-color: #F7F7F7;
    border-radius: 10px;
    overflow: auto;
    width: 97%;
    padding: 20px;
}

#Article header {
    margin-bottom: 20px;
}

#Article main h2 {
    font-size: 1.6em;
    margin-top: 20px;
    color: #444;
}

#Article main p {
    margin: 10px 0;
}

#Aside {
    grid-area: Aside;
    background-color: #F7F7F7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#Aside div {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Footer {
    grid-area: Footer;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 30px;
    background-color: #F7F7F7;
    color: #000;
}

#Footer img {
    width: 40px;
}

.rodape {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.rodape h3 {
    margin-bottom: 20px;
}

.rodape a{
    color: #000;
    margin: 5px 0;
    text-decoration: none;
    width: fit-content;
}

.rodape a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    #Footer {
        padding: 25px 2rem;
    }
}